h1{  
    color:black; 
}
body{
    background-blend-mode: overlay;
    background-image:url(./UI/images/index.jpg.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}
    
    p{
        text-align: center;
        color:black;
    }
    a{
        text-align:right;
        padding-right:5em; 
        padding-left:5em;
        color:orangered;
    }
    h1{
        color:orangered;

    }
    form{
        text-align:center;
    }
    .image{
        text-align:center;
        font-size:200%;

    }
    div.form{
        font-size:200%;
    }
    .bar  {
        color:black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .bar a.home {
        
        color: black;
        font-size:larger;
      }
      .bar a {
        color: black;
        font-size:larger;
      }
      @media(max-width: 768px) {
        div.form{
          font-size:100%;
      }
      .image{
        text-align:center;
        font-size:100%;

    }
        
      }
      @media(max-width: 1024px) {
        div.form{
          font-size:100%;
      }
      .image{
        text-align:center;
        font-size:100%;

    }
        
      }