.image{
    width:50%;
    float:left;
}
.content{
    width:50%;
    float:right;
}
.firsttrip{
    color: black;
    background-color:green;
}
.secondtrip{
    color: black;
    background-color:purple;
}
.thirdtrip{
    color: black;
    background-color:red;
}
.fourthtrip{
    color: black;
    background-color:blue;
}