body{
    width:50%;
    background:url(../images/signupWall.jpg);
    background-repeat: repeat;
    color:black;
    padding:0 100px;
    
}
li{
    color:purple;
}
.container{
    width :50%;
    font-size:larger;
}