.image{
    float:left;
    width:50%;
}

.checkmate {
  width: 15px;
  margin: 10px 0;
  outline: none;
}
 .submit{
  color:#fff;
  background-color:green;
  width: 170px;
} 
form{
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
input {
  width: 30em;
  height: 35px;
  border: 1px solid #a1a1a1;
  margin: 10px 0;
  padding: 0 15px;
  outline: none;
  color: #4a4a4a;
}