.image{
    float:left;
    width:50%;
}
 .submit{
  color:#fff;
  background-color:green;
  width: 170px;
} 
form{
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
input {
  width: 30em;
  height: 35px;
  border: 1px solid #a1a1a1;
  margin: 10px 0;
  padding: 0 15px;
  outline: none;
  color: #4a4a4a;
}

@media(max-width: 768px) {
  .image{
    width:20%;
}
.submit{
  color:#fff;
  background-color:green;
  width: 80px;
} 
form{
  float:left;
  width: 40%;
  margin: 30px auto;
  text-align: center;
}
input {
  width: 10em;
  height: 35px;
  border: 1px solid #a1a1a1;
  margin: 10px 0;
  padding: 0 15px;
  outline: none;
  color: #4a4a4a;
}
}