body{
  font-family: arial;
}

h2 {
  margin-top: 100px;
}

.image{
  float:left;
    width:50%;
  }
  .signup{
    float:right;
    width:50%;
    font-size:larger;
  }
  
.submit{
  color:#fff;
  background-color:green;
  width: 170px;
}

form{
  width: 70%;
  margin: 30px auto;
  text-align: center;
}

small{
  font-size: 13px;
}

input {
  width: 100%;
  height: 35px;
  border: 1px solid #a1a1a1;
  margin: 10px 0;
  padding: 0 15px;
  outline: none;
  color: #4a4a4a;
}
.cancel{
  padding:0 30Px;
}

      