a{
    color:blue;
}
.submit{
    height:2.5em;
    width:5em;
    background-color:green;
}
img{
    float:right;
    width:50%;

}
.createtrip{
    margin-top: 100px;
    padding: 70px 100px;

}
.trips{
    margin-top: 50px;
    padding: 0 50px;
}
body{
    align-content:center;
}