a{
    color:blue;
}
.submit{
    height:2.5em;
    width:5em;
    background-color:green;
}
img{
    float:right;
    width:50%;

}
.createtrip{
    padding: 10px 50px;
}

form{
    width: 70%;
    margin: 30px auto;
    text-align: center;
  }
  input {
    width: 30em;
    height: 35px;
    border: 1px solid #a1a1a1;
    margin: 10px 0;
    padding: 0 15px;
    outline: none;
    color: #4a4a4a;
  }
  
body{
    align-content:center;
}